*,
body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  max-width: 70.85%;
  margin: auto;
  padding: 0 40px;
}

.header,
.footer {
  height: 80px;
}

/* header */
.header .container {
  justify-content: center;
}

/* main */

.main {
  height: calc(100vh - 160px);
}

.main .container {
  display: grid;
  grid-template-rows: 20% 1fr 20%;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 10px;
  height: 100%;
}

input[type=radio] {
  visibility: hidden;
}

.slider {
  height: 100%;
  grid-row: 2 / 3;
  grid-column: 4 / 10;
  overflow: hidden;
  border: 1px solid black;
  display: flex;
}

.slides {
  display: flex;
  width: 400%;
  margin-left: 0;
}

.slide {
  width: 25%;
  transition: all 1s ease;
  display: flex;
  min-width: fit-content;
  justify-content: center;
  align-items: center;
}


.slide img {
  width: auto;
  height: 80%;
  object-fit: fill;
}

.caption-container {
  width: 100%;
  grid-row: 3 / 4;
  grid-column: 4 / 8;
  overflow: hidden;
}

.caption {
  display: flex;
  width: 400%;
}

.slide-caption {
  width: 25%;
  transition: all 1s ease;
}

.control-panel {
  display: flex;
  grid-row: 3 / 4;
  grid-column: 8 / 10;
}

.control {
  display: flex;
  width: 30%;
  height: 20%;
  margin: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .4s ease;
}

.control:hover {}

.inner-control {
  width: 40%;
  height: 40%;
  background-color: rebeccapurple;
  border-radius: 50%;
}

#button-1:checked~.slider .slides .slide-1 {
  margin-left: 0;
}

#button-2:checked~.slider .slides .slide-1 {
  margin-left: -25%;
}

#button-3:checked~.slider .slides .slide-1 {
  margin-left: -50%;
}

#button-4:checked~.slider .slides .slide-1 {
  margin-left: -75%;
}

#button-1:checked~.caption-container .caption .slide-1 {
  margin-left: 0;
}

#button-2:checked~.caption-container .caption .slide-1 {
  margin-left: -25%;
}

#button-3:checked~.caption-container .caption .slide-1 {
  margin-left: -50%;
}

#button-4:checked~.caption-container .caption .slide-1 {
  margin-left: -75%;
}

/* footer */
.logo {
  height: 60px;
  width: auto;
}

.footer .container {
  justify-content: space-between;
}